<h1>User</h1>

<% @users.each do |user| %>

  <% if user.profile_image.attached? %>
  <%= image_tag user.profile_image, size: "100×100" %>
  <% else %>
  <%= image_tag 'no_image', size: "100×100" %>
  <% end %>

<%= user.name %>

  <%= link_to 'Show', user_path(user.id) %>


<% end %>

<%= render 'users_info', user: current_user %>
