
<!--<p>%= @user.name %></p>-->

<!--<p>%= @user.introduction %></p>-->

<h2>Book</h2>


  <!--%= image_tag @user.get_profile_image(100,100) %>-->
  <% @books.each do |book| %>
  <div>
    
    <!--%= image_tag @books.get_image(100,100) %>-->
    <%= image_tag @book.get_image %>
    <p>Title</p> <%= link_to book_path(book.id) do %>
    <%= book.title %>
    <% end %>
   
    <p>Option : <%= book.body %></p>
  </div>
  <% end %>
  
  
  
<%= render "users_info", user: current_user %>

<%= render "books/new", book: @book %>

<%= render 'homes/footer' %>