
<!--<p>%= @user.name %></p>-->

<!--<p>%= @user.introduction %></p>-->
<div class="container">
<div class="row">
<div class="col-md-3">
  <%= render "users/users_info", user: @user %>
   <h1>New book</h1>
<%= form_with model: Book.new, url: '/books' do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>Option</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>

</div>
  <div class="col-md-8 offset-md-1">

<h2>Book</h2>


  <!--%= image_tag @user.get_profile_image(100,100) %>-->
  <% @books.each do |book| %>
  <div>

    <!--%= image_tag @books.get_image(100,100) %>-->
    
    <p>Title</p>
   <%= link_to book.title, book_path(book.id) %>
    <%= link_to user_path(@user.id) do %>
    <%= image_tag @user.get_profile_image(50,50) %>
    
    <% end %>

    <p>Option : <%= book.body %></p>
  </div>
  <% end %>



</div>
</div>